{% extends "base.html" %} {% block content %}
<div class="container">
  <h1 class="display-4 text-center my-5">Choose Your Tickets</h1>
  <form method="post">
    {% csrf_token %}
    <table class="table table-bordered">
      <!-- ... Table content with race and ticket details ... -->
      <td>
        <select name="race" class="form-select">
          {% for race in races %}
          <option
            value="{{ race.name }}"
            {%
            if
            race.name="default_race"
            %}selected{%
            endif
            %}
          >
            {{ race.name }}
          </option>
          {% endfor %}
        </select>
      </td>
      <td>
        <select name="ticket_type" class="form-select">
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
          <option value="sunday">Sunday</option>
          <option value="all">All 3 Days</option>
        </select>
      </td>
      <td>
        <select name="ticket_category" class="form-select">
          <option value="general">General Admission</option>
          <option value="grandstand">Grandstand Seat</option>
        </select>
      </td>
      <td>
        {% if user.is_authenticated %}
        <button type="submit" class="btn btn-primary">Buy Tickets</button>
        {% endif %} {% if not user.is_authenticated %}
        <strong>Attention: </strong>You need to be signed in to book tickets.
        <a class="btn blue-button" href="{% url 'account_signup' %}"><strong>Sign Up</strong></a>
        <a class="btn blue-button" href="{% url 'account_login' %}"><strong>Login</strong></a>
        </a>
        {% endif %}
      </td>
    </table>
  </form>
</div>
{% endblock %}
