{% extends "base.html" %} {% block content%}
<!--Calendar Page-->
<div class="container text-center">
  <div class="row">
    <div class="calendar-heading col">
        <h1>FORMULA ONE WORLD CHAMPIONSHIP CALENDAR</h1>
    </div>
  </div>
</div>
<section id="callendar-races">
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978817/F1/bahrain_cf9qxt.jpg"
                    class="img-fluid" alt="Bahrain">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978820/F1/saudi-arabia_m7evkx.jpg"
                    class="img-fluid" alt="Saudi_arabia">
            </div>
            <div class="col-4"><img
                    src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978817/F1/australia_tza5jk.jpg"
                    class="img-fluid" alt="Australia">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978819/F1/azerbaijan_ydwjfm.jpg"
                    class="img-fluid" alt="Azerbaijan">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978821/F1/miami_aacrox.jpg"
                    class="img-fluid" alt="Miami">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978820/F1/EMILIA-ROMAGNA_p9bygt.jpg"
                    class="img-fluid" alt="Emilia_romagna">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978822/F1/monaco_igitwk.jpg"
                    class="img-fluid" alt="Monaco">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978819/F1/spain-barcelona_uibe1w.jpg"
                    class="img-fluid" alt="Spain">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978818/F1/canada_ji6csn.jpg"
                    class="img-fluid" alt="Canada">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978818/F1/austria_smpxpc.jpg"
                    class="img-fluid" alt="Austria">
            </div>
            <div class="col-4"><img
                    src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978822/F1/silverstone_l2slkg.jpg"
                    class="img-fluid" alt="Great_britain">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978820/F1/hungary_pphk9n.jpg"
                    class="img-fluid" alt="Hungary">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691092306/F1/belguim_rqqy8o.jpg" class="img-fluid"
                    alt="Belguim">
            </div>
            <div class="col-4"><img
                    src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978817/F1/dutch_rmg4q1.jpg"
                    class="img-fluid" alt="Netherlands">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978821/F1/italy-monza_o56r9b.jpg" class="img-fluid"
                    alt="Italy_monza">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978824/F1/singapore_l1gl3f.jpg" class="img-fluid"
                    alt="Singapore">
            </div>
            <div class="col-4"><img
                    src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978821/F1/japan_iabpzm.jpg"
                    class="img-fluid" alt="Japan">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/qatar_lj9xa1.jpg" class="img-fluid"
                    alt="Qatar">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/CIRCUIT_-OF-THE-AMERICAS_pqvshk.jpg"
                    class="img-fluid" alt="USA">
            </div>
            <div class="col-4"><img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/mexico_rztf53.jpg"
                    class="img-fluid" alt="Mexico">
            </div>
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/brasil_cw8tqo.jpg" class="img-fluid"
                    alt="Brazil">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978818/F1/las-vegas_xivef5.jpg"
                    class="img-fluid" alt="Las_vegas">
            </div>
            <div class="col-4"><img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/abu-dhabi_q40iri.jpg"
                    class="img-fluid" alt="Abu_dhabi">
            </div>
        </div>
    </div>
    <br>
</section>
{% endblock%}
