{% extends "base.html" %} {% block content%}
<!--Calendar Page-->
<div class="container text-center">
  <div class="row">
    <div class="calendar-heading col">
      <h1>FORMULA ONE WORLD CHAMPIONSHIP CALENDAR</h1>
    </div>
  </div>
</div>
<section id="callendar-races">
  <div class="container-fluid">
    <div class="row">
      <!-- Race 1 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978817/F1/bahrain_cf9qxt.jpg"
          class="img-fluid rounded"
          alt="Bahrain"
        />
        <div class="race-details">
        <h3 class="mt-3">Bahrain Grand Prix</h3>
        <p>Date: March 03-05, 2023</p>
        <p>Location: Bahrain International Circuit</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 2 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978820/F1/saudi-arabia_m7evkx.jpg"
          class="img-fluid rounded"
          alt="Saudi Arabia"
        />
        <div class="race-details">
        <h3 class="mt-3">Saudi Arabia Grand Prix</h3>
        <p>Date: March 17-19, 2023</p>
        <p>Location: JEDDAH CORNICHE CIRCUIT</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 3 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978817/F1/australia_tza5jk.jpg"
          class="img-fluid rounded"
          alt="Australia"
        />
        <div class="race-details">
        <h3 class="mt-3">Australian Grand Prix</h3>
        <p>Date: March-April 31-02, 2023</p>
        <p>Location: ALBERT PARK CIRCUIT</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <!-- Race 4 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978819/F1/azerbaijan_ydwjfm.jpg"
          class="img-fluid rounded"
          alt="Azerbaijan"
        />
        <div class="race-details">
        <h3 class="mt-3">Azerbaijan Grand Prix</h3>
        <p>Date: April 28-30, 2023</p>
        <p>Location: BAKU CITY CIRCUIT</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 5 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978821/F1/miami_aacrox.jpg"
          class="img-fluid rounded"
          alt="Miami"
        />
        <div class="race-details">
        <h3 class="mt-3">Miami Grand Prix</h3>
        <p>Date: May 05-07, 2023</p>
        <p>Location: MIAMI INTERNATIONAL AUTODROME</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 6 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978820/F1/EMILIA-ROMAGNA_p9bygt.jpg"
          class="img-fluid rounded"
          alt="Emilia Romagna"
        />
        <div class="race-details">
        <h3 class="mt-3">Emilia Romagna Grand Prix</h3>
        <p>Date: May 19-21, 2023</p>
        <p>Location: AUTODROMO ENZO E DINO FERRARI</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Race 7 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978822/F1/monaco_igitwk.jpg"
          class="img-fluid rounded"
          alt="Monaco"
        />
        <div class="race-details">
        <h3 class="mt-3">Monaco Grand Prix</h3>
        <p>Date: May 26-28, 2023</p>
        <p>Location: Circuit de Monaco, Monte Carlo, Monaco</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 8 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978819/F1/spain-barcelona_uibe1w.jpg"
          class="img-fluid rounded"
          alt="Spain"
        />
        <div class="race-details">
        <h3 class="mt-3">Spanish Grand Prix</h3>
        <p>Date: June 02-04, 2023</p>
        <p>Location: Circuit de Barcelona-Catalunya, Barcelona, Spain</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 9 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978818/F1/canada_ji6csn.jpg"
          class="img-fluid rounded"
          alt="Canada"
        />
        <div class="race-details">
        <h3 class="mt-3">Canadian Grand Prix</h3>
        <p>Date: June 16-18, 2023</p>
        <p>Location: Circuit Gilles Villeneuve, Montreal, Canada</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <!-- Race 10 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978818/F1/austria_smpxpc.jpg"
          class="img-fluid rounded"
          alt="Austria"
        />
        <div class="race-details">
        <h3 class="mt-3">Austrian Grand Prix</h3>
        <p>Date: June-July 30-02, 2023</p>
        <p>Location: Red Bull Ring, Spielberg, Austria</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 11 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978822/F1/silverstone_l2slkg.jpg"
          class="img-fluid rounded"
          alt="Great Britain"
        />
        <div class="race-details">
        <h3 class="mt-3">British Grand Prix</h3>
        <p>Date: July 07-09, 2023</p>
        <p>Location: Silverstone Circuit, Silverstone, UK</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 12 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978820/F1/hungary_pphk9n.jpg"
          class="img-fluid rounded"
          alt="Hungary"
        />
        <div class="race-details">
        <h3 class="mt-3">Hungarian Grand Prix</h3>
        <div class="race-card"></div>
        <p>Date: July 21-23, 2023</p>
        <p>Location: Hungaroring, Budapest, Hungary</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Race 13 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691092306/F1/belguim_rqqy8o.jpg"
          class="img-fluid rounded"
          alt="Belgium"
        />
        <div class="race-details">
        <h3 class="mt-3">Belgian Grand Prix</h3>
        <p>Date: July 28-30, 2023</p>
        <p>Location: Circuit de Spa-Francorchamps, Stavelot, Belgium</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 14 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978817/F1/dutch_rmg4q1.jpg"
          class="img-fluid rounded"
          alt="Netherlands"
        />
        <div class="race-details">
        <h3 class="mt-3">Dutch Grand Prix</h3>
        <p>Date: August 25-27, 2023</p>
        <p>Location: Circuit Zandvoort, Zandvoort, Netherlands</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 15 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978821/F1/italy-monza_o56r9b.jpg"
          class="img-fluid rounded"
          alt="Italy (Monza)"
        />
        <div class="race-details">
        <h3 class="mt-3">Italian Grand Prix (Monza)</h3>
        <p>Date: September 01-03, 2023</p>
        <p>Location: Autodromo Nazionale Monza, Monza, Italy</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Race 16 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978824/F1/singapore_l1gl3f.jpg"
          class="img-fluid rounded"
          alt="Singapore"
        />
        <div class="race-details">
        <h3 class="mt-3">Singapore Grand Prix</h3>
        <p>Date: September 15-17, 2023</p>
        <p>Location: Marina Bay Street Circuit, Singapore</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 17 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978821/F1/japan_iabpzm.jpg"
          class="img-fluid rounded"
          alt="Japan"
        />
        <div class="race-details">
        <h3 class="mt-3">Japanese Grand Prix</h3>
        <p>Date: September 22-24, 2023</p>
        <p>Location: Suzuka International Racing Course, Suzuka, Japan</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 18 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/qatar_lj9xa1.jpg"
          class="img-fluid rounded"
          alt="Qatar"
        />
        <div class="race-details">
        <h3 class="mt-3">Qatar Grand Prix</h3>
        <p>Date: October 06-08, 2023</p>
        <p>Location: Losail International Circuit, Doha, Qatar</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Race 19 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/CIRCUIT_-OF-THE-AMERICAS_pqvshk.jpg"
          class="img-fluid rounded"
          alt="USA"
        />
        <div class="race-details">
        <h3 class="mt-3">United States Grand Prix</h3>
        <p>Date: October 20-22, 2023</p>
        <p>Location: Circuit of the Americas, Austin, USA</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 20 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/mexico_rztf53.jpg"
          class="img-fluid rounded"
          alt="Mexico"
        />
        <div class="race-details">
        <h3 class="mt-3">Mexican Grand Prix</h3>
        <p>Date: October 27-29, 2023</p>
        <p>Location: Autodromo Hermanos Rodriguez, Mexico City, Mexico</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 21 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/brasil_cw8tqo.jpg"
          class="img-fluid rounded"
          alt="Brazil"
        />
        <div class="race-details">
        <h3 class="mt-3">Brazilian Grand Prix</h3>
        <p>Date: November 03-05, 2023</p>
        <p>Location: Autódromo José Carlos Pace, São Paulo, Brazil</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Race 22 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978818/F1/las-vegas_xivef5.jpg"
          class="img-fluid rounded"
          alt="Las Vegas"
        />
        <div class="race-details">
        <h3 class="mt-3">Las Vegas Grand Prix</h3>
        <p>Date: November 16-18, 2023</p>
        <p>Location: Las Vegas Street Circuit, Las Vegas, USA</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
      <!-- Race 23 -->
      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
        <div class="race-card">
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690978816/F1/abu-dhabi_q40iri.jpg"
          class="img-fluid rounded"
          alt="Abu Dhabi"
        />
        <div class="race-details">
        <h3 class="mt-3">Abu Dhabi Grand Prix</h3>
        <p>Date: November 24-26, 2023</p>
        <p>Location: Yas Marina Circuit, Abu Dhabi, UAE</p>
        <a href="#buy-tickets-section" class="btn btn-primary btn-buy-tickets">Secure Your Seats</a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <br />
</section>
<div id="buy-tickets-section" class="container calendar-heading">
<div class="container calendar-heading">
    <h1 class="display-4 text-center my-5 col">Choose Your Tickets</h1>
    <form method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="add_to_basket">
        <table class="table table-bordered">
            <!-- ... Table content with race and ticket details ... -->
            <td>
                <select name="race" class="form-select">
                    <option value="">Select a race</option>
                    {% for race in races %}
                    {% if race.name == selected_race_name %}
                    <option value="{{ race.name }}" selected>{{ race.name }}</option>
                    {% else %}
                    <option value="{{ race.name }}">{{ race.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td>
                <select name="ticket_type" class="form-select">
                    <option value="">Select a Day</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                    <option value="all">All 3 Days</option>
                </select>
            </td>
            <td>
                <select name="ticket_category" class="form-select">
                    <option value="">Select a ticket</option>
                    <option value="general">General Admission</option>
                    <option value="grandstand">Grandstand Seat</option>
                </select>
            </td>
            <td>
                <select name="quantity" class="form-select">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>

                </select>
            </td>
            <td>Total Price:</td>
            <td>
                <strong><span id="total_price">£0</span></strong>
            </td>
            <td>
                {% if user.is_authenticated %}
                <button type="submit" class="btn btn-primary">Add to basket</button>
                {% endif %} {% if not user.is_authenticated %}
                <strong>Attention: </strong>You need to be signed in to book tickets.
                <a class="btn blue-button" href="{% url 'account_signup' %}"><strong>Sign Up</strong></a>
                <a class="btn blue-button" href="{% url 'account_login' %}"><strong>Login</strong></a>
                </a>
                {% endif %}
            </td>
        </table>
    </form>
</div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const priceTable = {
      "friday-general": 70,
      "friday-grandstand": 150,
      "saturday-general": 100,
      "saturday-grandstand": 200,
      "sunday-general": 120,
      "sunday-grandstand": 250,
      "all-general": 250,
      "all-grandstand": 500,
    };

    function updateTotalPrice() {
      const raceSelect = document.querySelector("select[name='race']");
      const ticketTypeSelect = document.querySelector(
        "select[name='ticket_type']"
      );
      const ticketCategorySelect = document.querySelector(
        "select[name='ticket_category']"
      );
      const quantitySelect = document.querySelector("select[name='quantity']");
      const totalPriceElement = document.getElementById("total_price");

      const race = raceSelect.value;
      const ticketType = ticketTypeSelect.value;
      const ticketCategory = ticketCategorySelect.value;
      const quantity = parseInt(quantitySelect.value);

      const optionKey = `${ticketType}-${ticketCategory}`;
      const price = priceTable[optionKey] || 0;
      const total = price * quantity;

      totalPriceElement.textContent = `£${total.toFixed(2)}`;
    }

    // Add event listeners to update the total price when the user selects different options
    document
      .querySelector("select[name='race']")
      .addEventListener("change", updateTotalPrice);
    document
      .querySelector("select[name='ticket_type']")
      .addEventListener("change", updateTotalPrice);
    document
      .querySelector("select[name='ticket_category']")
      .addEventListener("change", updateTotalPrice);
    document
      .querySelector("select[name='quantity']")
      .addEventListener("change", updateTotalPrice);
  });
</script>
{% endblock%}
