{% extends "base.html" %} {% block content%}
<!--Drivers Page-->
<div class="container text-center">
    <div class="row">
        <div class="calendar-heading col">
            <h1>FORMULA ONE DRIVERS 2023</h1>
        </div>
    </div>
</div>
<section id="drivers">
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-center">Red Bull Racing F1 Team</h2>
            <div class="col-6">
                <h2 class="text-center">Max Verstappen</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/max-verstappen_bzxpen.jpg" class="img-fluid driver-image"
                        alt="Max">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>46</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>90</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>28</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>2300.5</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>2</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Sergio Perez</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/sergio-perez_pqtgto.jpg"
                    class="img-fluid driver-image" alt="Checo">
                <table class="table table-striped driver-description">
                    <tr>
                        <th>Statistic</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Victories</td>
                        <td>6</td>
                    </tr>
                    <tr>
                        <td>Podiums</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>Pole positions</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Fastest lap</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>Points</td>
                        <td>1373</td>
                    </tr>
                    <tr>
                        <td>WDC</td>
                        <td>0</td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Mercedes-AMG Petronas Formula One Team</h2>
            <div class="col-6">
                <h2 class="text-center">Lewis Hamilton</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/hamilton_sew04j.jpg" class="img-fluid driver-image"
                        alt="Lewis">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>103</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>195</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>104</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>62</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>4548.5</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>7</td>
                        </tr>
                    </table>
                        </div>
                        </div>
                <div class="col-6">
                    <h2 class="text-center">George Russell</h2>
                    <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/george-russell_rxxrot.jpg"
                        class="img-fluid driver-image" alt="George">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>1373</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                        </div>
                </div>
            </div>
        <br>
        <div class="row">
            <h2 class="text-center">Ferrari Scuderia</h2>
            <div class="col-6">
                <h2 class="text-center">Charles Leclerc</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/charles-leclerc_ibszlt.jpg" class="img-fluid driver-image"
                        alt="Charles">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>27</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>939</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Carlos Sainz</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/carlos_sainz_tkibkh.jpg" class="img-fluid driver-image"
                        alt="Carlos">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>850.5</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">McLaren Racing</h2>
            <div class="col-6">
                <h2 class="text-center">Lando Norris</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/lando-norris_r1nuwg.jpg" class="img-fluid driver-image"
                        alt="Lando">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>494</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Oscar Piastri</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090222/F1/australia-flag_rh5v1k.png" class="img-fluid driver-image"
                        alt="Oscar">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>29</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Aston Martin Cognizant Formula One Team</h2>
            <div class="col-6">
                <h2 class="text-center">Fernando Alonso</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/fernando-alonso_ss7zog.jpg" class="img-fluid driver-image"
                        alt="Fernando">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>22</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>24</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>2216</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>2</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Lance Stroll</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691092001/F1/lance-stroll-1_hompp9.jpg" class="img-fluid driver-image"
                        alt="Lance">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>235</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Alpine F1 Team</h2>
            <div class="col-6">
                <h2 class="text-center">Esteban Ocon</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090213/F1/french-flag_cdqmgq.png" class="img-fluid driver-image"
                        alt="Esteban">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>396</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Pierre Gasley</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/pierre-gasley_knvzkw.jpg" class="img-fluid driver-image"
                        alt="Pierre">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>363</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Alfa Romeo Racing ORLEN</h2>
            <div class="col-6">
                <h2 class="text-center">Valteri Bottas</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090217/F1/finland-flag_qycoez.png" class="img-fluid driver-image"
                        alt="Valterri">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>67</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>19</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>1783</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Zhou Guanyu</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090198/F1/china-flag_ipyx7x.png" class="img-fluid driver-image"
                        alt="Zhou">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Scuderia AlphaTauri</h2>
            <div class="col-6">
                <h2 class="text-center">Yuki Tsunoda</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/yuki-tsunoda_mmtu4g.jpg" class="img-fluid driver-image"
                        alt="Yuki">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>48</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Daniel Ricciardo</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/daniel-ricciardo_y8qr0p.jpg"
                        class="img-fluid driver-image" alt="Daniel">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>16</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>1307</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Williams Racing</h2>
            <div class="col-6">
                <h2 class="text-center">Alexander Albon</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/alexander-albon_qhkasv.jpg" class="img-fluid driver-image"
                        alt="Alex">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>216</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Logan Sargeant</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090227/F1/american-flag_laeynu.png" class="img-fluid driver-image"
                        alt="Logan">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <h2 class="text-center">Haas F1 Team</h2>
            <div class="col-6">
                <h2 class="text-center">Nico Hulkenberg</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/nico-hulkenberg_aincie.jpg" class="img-fluid driver-image"
                        alt="Nico">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>527</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <h2 class="text-center">Kevin Magnussen</h2>
                <div class="driver-container d-flex justify-content-center align-items-center">
                    <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090233/F1/denmark-flag_hd4tjy.png" class="img-fluid driver-image"
                        alt="Kevin">
                    <table class="table table-striped driver-description">
                        <tr>
                            <th>Statistic</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Victories</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Podiums</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>Pole positions</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Fastest lap</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Points</td>
                            <td>183</td>
                        </tr>
                        <tr>
                            <td>WDC</td>
                            <td>0</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
</section>
{% endblock%}