{% extends "base.html" %} {% block content%}
<!--Drivers Page-->
<div class="container text-center">
    <div class="row">
        <div class="calendar-heading col">
            <h1>FORMULA ONE DRIVERS 2023</h1>
        </div>
    </div>
</div>
<section id="teams">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/max-verstappen_bzxpen.jpg"
                    class="img-fluid" alt="Max">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/sergio-perez_pqtgto.jpg"
                    class="img-fluid" alt="Checo">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/hamilton_sew04j.jpg" class="img-fluid"
                    alt="Lewis">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/george-russell_rxxrot.jpg" class="img-fluid"
                    alt="George">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/charles-leclerc_ibszlt.jpg"
                    class="img-fluid" alt="Charles">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/carlos_sainz_tkibkh.jpg"
                    class="img-fluid" alt="Carlos">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/lando-norris_r1nuwg.jpg" class="img-fluid"
                    alt="Lando">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090222/F1/australia-flag_rh5v1k.png" class="img-fluid"
                    alt="Oscar">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/fernando-alonso_ss7zog.jpg"
                    class="img-fluid" alt="Fernando">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691092001/F1/lance-stroll-1_hompp9.jpg"
                    class="img-fluid" alt="Lance">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090213/F1/french-flag_cdqmgq.png" class="img-fluid"
                    alt="Esteban">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/pierre-gasley_knvzkw.jpg" class="img-fluid"
                    alt="Pierre">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090198/F1/china-flag_ipyx7x.png"
                    class="img-fluid" alt="Zhou">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090217/F1/finland-flag_qycoez.png"
                    class="img-fluid" alt="Valterri">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/daniel-ricciardo_y8qr0p.jpg" class="img-fluid"
                    alt="Daniel">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/yuki-tsunoda_mmtu4g.jpg" class="img-fluid"
                    alt="Yuki">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/alexander-albon_qhkasv.jpg"
                    class="img-fluid" alt="Alex">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090227/F1/american-flag_laeynu.png"
                    class="img-fluid" alt="Logan">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/nico-hulkenberg_aincie.jpg" class="img-fluid"
                    alt="Nico">
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090233/F1/denmark-flag_hd4tjy.png" class="img-fluid"
                    alt="Kevin">
            </div>
        </div>
        <br>
</section>
{% endblock%}