{% extends "base.html" %} {% block content%}
<!--Drivers Page-->
<div class="container text-center">
    <div class="row">
        <div class="calendar-heading col">
            <h1>FORMULA ONE DRIVERS 2023</h1>
        </div>
    </div>
</div>
<section id="teams">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/max-verstappen_bzxpen.jpg"
                    class="img-fluid" alt="Max">
                    <p>Max Verstappen is a Dutch racing driver widely regarded as one of the most talented and aggressive talents in Formula 1.
                    Born on September 30, 1997, in Belgium, Max is the son of former F1 driver Jos Verstappen. He made his F1 debut in 2015
                    with Scuderia Toro Rosso, becoming the youngest driver to start a Grand Prix at the age of 17.
                    
                    In 2016, Max moved to Red Bull Racing, where he truly showcased his exceptional skills, claiming his first race win in
                    Spain that year. Known for his fearless overtaking moves, remarkable racecraft, and raw speed, Verstappen has
                    consistently challenged the established champions, often causing upsets and thrilling moments on the track.
                    
                    Over the years, Max Verstappen has matured into a formidable competitor, earning several impressive victories and
                    setting numerous records, further solidifying his status as one of Formula 1's top talents. His partnership with Red
                    Bull Racing has been a fruitful one, with two world championship battles. As a popular figure both on
                    and off the track, Max continues to capture the imagination of F1 fans worldwide and remains a key protagonist in the
                    sport's ongoing narrative.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/sergio-perez_pqtgto.jpg"
                    class="img-fluid" alt="Checo">
                    <p>Sergio Perez, commonly known as "Checo," is a Mexican racing driver who has been a prominent figure in Formula 1. Born
                    on January 26, 1990, in Guadalajara, Mexico, Perez made his F1 debut in 2011 with Sauber.
                    
                    Throughout his career, Perez has showcased his remarkable consistency and racecraft, earning a reputation as one of the
                    best midfield drivers in the sport. He has demonstrated a particular talent for managing tire wear, often excelling in
                    races with strategic tire choices and long stints.
                    
                    After successful stints with Sauber and Force India (now Aston Martin f1 Team), Perez joined Red Bull Racing F1 Team
                    in 2022. His perseverance and strong performances led to notable podium finishes, victories, and becoming a valuable
                    asset to his team.
                    
                    Off the track, Sergio Perez is known for his approachable and humble demeanor, earning him a dedicated fan following and
                    respect from his peers. With his skillful driving and adaptability to different racing conditions, Perez continues to be
                    a sought-after driver in the F1 paddock, contributing significantly to the team's efforts and consistently challenging
                    for top positions on the grid.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/hamilton_sew04j.jpg" class="img-fluid"
                    alt="Lewis">
                    <p>Lewis Hamilton is a British racing driver widely regarded as one of the greatest and most successful drivers in the
                    history of Formula 1. Born on January 7, 1985, in Stevenage, Hertfordshire, United Kingdom, Hamilton made his F1 debut
                    in 2007 with McLaren.
                    
                    Since entering the sport, Lewis has consistently demonstrated exceptional talent, racecraft, and determination. He won
                    his first World Drivers' Championship in a dramatic final race in 2008, becoming the youngest champion at that time. In
                    2013, he moved to the Mercedes-AMG Petronas Formula One Team, where he further solidified his legacy.
                    
                    With Mercedes, Hamilton has achieved unparalleled success, dominating the sport with multiple championship victories and
                    breaking numerous records. His smooth driving style, remarkable consistency, and ability to perform under pressure have
                    made him a formidable force on the grid.
                    
                    Off the track, Lewis Hamilton is known for his activism and advocacy, using his platform to raise awareness about social
                    and environmental issues. He has been an outspoken advocate for diversity, inclusion, and sustainability, using his
                    voice to push for positive change in the world.
                    
                    As an inspiration to many aspiring racers and fans alike, Lewis Hamilton continues to be a role model for his
                    achievements both in and outside of motorsport, leaving an indelible mark on Formula 1 and shaping the future of the
                    sport.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/george-russell_rxxrot.jpg" class="img-fluid"
                    alt="George">
                    <p>George Russell is a talented British racing driver who made his Formula 1 debut in 2019 with the Williams Racing team.
                    Born on February 15, 1998, in King's Lynn, England, Russell's journey to Formula 1 was marked by impressive performances
                    in junior categories.
                    
                    Before joining Formula 1, George Russell won the GP3 Series championship in 2017 and the FIA Formula 2 Championship in
                    2018, showcasing his exceptional skills and potential as a future star in the sport.
                    
                    While driving for Williams, Russell has consistently demonstrated his talent, often outperforming the capabilities of
                    his car and achieving notable results. Despite racing for a team that faced challenges in terms of performance, Russell
                    has been highly praised for his maturity, composure, and level-headed approach on and off the track.
                    
                    Apart from his commitments with Williams, George Russell had a stand-in opportunity for Mercedes-AMG Petronas Formula
                    One Team during the 2020 Sakhir Grand Prix when Lewis Hamilton tested positive for COVID-19. Despite being an unexpected
                    substitute, Russell displayed impressive performances and nearly secured his first-ever Formula 1 victory, eventually
                    finishing second, but with this drive secured a seat at Merecedes-AMG Petronas.
                    
                    As one of the rising stars of the sport, George Russell is considered a strong contender for future championship
                    battles, and his impressive performances have caught the attention of other teams within the paddock. With his potential
                    and determination, Russell continues to be an exciting prospect and an integral part of Formula 1's future.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/charles-leclerc_ibszlt.jpg"
                    class="img-fluid" alt="Charles">
                    <p>Charles Leclerc is a talented Monegasque racing driver who has quickly risen to prominence in Formula 1. Born on October
                    16, 1997, in Monte Carlo, Monaco, Leclerc's early career showcased his exceptional racing talent.
                    
                    After successful stints in various junior categories, Charles Leclerc made his Formula 1 debut with Alfa Romeo Sauber
                    (now Alfa Romeo Racing) in 2018. However, it was his move to Scuderia Ferrari in the same year that truly propelled him
                    into the spotlight.
                    
                    Leclerc's performances at Ferrari were nothing short of impressive, displaying a mature and aggressive racing style that
                    quickly earned him accolades and the respect of his peers. In only his second season with Ferrari, he secured his
                    first-ever Formula 1 race win at the 2019 Belgian Grand Prix and followed it up with a second victory in Italy.
                    
                    Known for his natural speed, fearless overtaking maneuvers, and ability to perform well under pressure, Charles Leclerc
                    has emerged as one of the most promising young drivers in the sport. His performances have led many to consider him a
                    future championship contender.
                    
                    Off the track, Leclerc is known for his engaging personality, approachability, and strong connection with his fans. As
                    one of the sport's rising stars, he continues to impress with his consistent performances and has become a key figure in
                    the next generation of Formula 1 drivers.</p> 
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/carlos_sainz_tkibkh.jpg"
                    class="img-fluid" alt="Carlos">
                    <p>Carlos Sainz Jr. is a Spanish racing driver who has made a significant impact in Formula 1. Born on September 1, 1994,
                    in Madrid, Spain, Sainz comes from a motorsport family; his father, Carlos Sainz Sr., is a two-time World Rally
                    Champion.
                    
                    Carlos Sainz Jr. made his Formula 1 debut in 2015 with Scuderia Toro Rosso (now Scuderia AlphaTauri). He quickly
                    showcased his talent, consistency, and technical understanding of the sport. His strong performances and potential
                    caught the attention of other teams, and in 2019, he moved to McLaren Racing.
                    
                    During his time at McLaren, Sainz further established himself as a competitive and reliable driver. He consistently
                    delivered strong results, including impressive finishes and points-scoring drives. His partnership with McLaren
                    contributed to the team's resurgence and improvement in performance.
                    
                    In 2021, Carlos Sainz Jr. made another significant move in his career, joining Scuderia Ferrari. The move to Ferrari
                    marked a significant step for him, being part of one of the most prestigious teams in Formula 1's history.
                    
                    Known for his positive attitude, work ethic, and determination, Carlos Sainz Jr. continues to evolve as a driver and
                    shows the potential to become a consistent front-runner in the sport. As he continues his journey with Ferrari, fans
                    eagerly await to see his performances and contributions to the team's legacy in Formula 1.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/lando-norris_r1nuwg.jpg" class="img-fluid"
                    alt="Lando">
                    <p>Lando Norris is a talented British racing driver who has made a strong impression in Formula 1. Born on November 13,
                    1999, in Bristol, England, Norris has a remarkable background in karting and various junior racing series.
                    
                    Lando Norris made his Formula 1 debut in 2019 with McLaren Racing, and he quickly showed his immense potential as a
                    future star of the sport. With his smooth driving style, quick adaptation to the demands of Formula 1, and a strong
                    technical understanding of the car, Norris consistently delivered impressive performances on the track.
                    
                    Off the track, Norris is known for his engaging and charismatic personality, making him a fan-favorite both on and off
                    the race circuit. His social media presence and interactions with fans have further endeared him to Formula 1
                    enthusiasts worldwide.
                    
                    As a part of McLaren Racing, Norris has been instrumental in the team's resurgence and improvement in performance. He
                    has achieved notable results, including multiple podium finishes, proving his capability to compete at the highest level
                    of motorsport.
                    
                    With his evident talent, strong work ethic, and positive attitude, Lando Norris is considered one of the most promising
                    young drivers in the sport. As he continues to develop and gain experience, his journey in Formula 1 is likely to be one
                    of the captivating stories to watch in the coming years.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090222/F1/australia-flag_rh5v1k.png" class="img-fluid"
                    alt="Oscar">
                    <p>Oscar Piastri is a young Australian racing driver who has shown immense promise in the world of motorsport. Born on
                    April 6, 2001, in Melbourne, Australia, Piastri's racing career has seen impressive achievements in junior categories.
                    
                    In 2020, Oscar Piastri competed in the FIA Formula 3 Championship and showcased exceptional skills and consistency. He
                    secured the championship title in his rookie season, displaying his ability to perform under pressure and his potential
                    as a future star in Formula 1.
                    
                    Following his success in Formula 3, Piastri made the move to the FIA Formula 2 Championship, the final step before
                    reaching Formula 1. His performances in Formula 2 would be crucial in determining his pathway to the pinnacle of
                    motorsport.
                
                    After wining the Formula 2 title in his first campaign, Oscar achieved a test drivers seat for Alpine in 2022 and 
                    more recently got a full racing seat at Mclaren to really showcase his emerging skills.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/fernando-alonso_ss7zog.jpg"
                    class="img-fluid" alt="Fernando">
                    <p>Fernando Alonso is a Spanish racing driver widely regarded as one of the greatest talents in Formula 1 history. Born on
                    July 29, 1981, in Oviedo, Spain, Alonso's racing career has been marked by remarkable success and numerous accolades.
                    
                    Alonso made his Formula 1 debut with Minardi in 2001 before moving to Renault in 2003, where he achieved his first World
                    Drivers' Championship in 2005. He successfully defended his title in 2006, securing back-to-back championships with
                    Renault.
                    
                    Throughout his career, Alonso displayed incredible driving skills, strategic thinking, and an unwavering determination
                    to win. His stints with top teams like McLaren and Ferrari further solidified his reputation as a formidable competitor.
                    
                    Off the track, Alonso has been known for his meticulous work ethic, dedication to fitness, and technical insights. His
                    ability to extract the maximum from his car, especially in difficult race conditions, earned him immense respect from
                    his peers and fans alike.
                    
                    In 2018, Alonso took a sabbatical from Formula 1 but remained active in other racing categories, including endurance
                    racing and the Indianapolis 500. In 2021, he made a highly anticipated return to Formula 1 with the Alpine F1 Team
                    (formerly Renault), showing that he still had the speed and skill to compete at the highest level.

                    In 2023 Alonso made a shock move in the paddock to Aston Martin Racing where he would partner Lance Stroll. Making a 
                    huge impact at the start of the year by achieving a podiums in the first races.
                    
                    Alonso's impact on Formula 1 extends beyond his driving prowess. He is considered an ambassador for the sport, and his
                    charisma and engaging personality have earned him a large and dedicated fan base worldwide. As a two-time world champion
                    and an iconic figure in motorsport, Fernando Alonso's legacy in Formula 1 is secure and celebrated by fans and
                    colleagues alike.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691092001/F1/lance-stroll-1_hompp9.jpg"
                    class="img-fluid" alt="Lance">
                    <p>Lance Stroll is a Canadian racing driver who made his mark in the world of motorsport at a young age. Born on October
                    29, 1998, in Montreal, Canada, Stroll comes from a wealthy family with a strong interest in motorsport.
                    
                    Lance Stroll's racing career saw success in various junior categories, including winning the Italian Formula 4
                    Championship and the FIA European Formula 3 Championship. In 2017, he made his Formula 1 debut with Williams Racing.
                    
                    Stroll's debut season in Formula 1 showcased his potential as a talented driver, securing several points finishes and
                    impressing with his speed and racecraft. In 2019, he moved to Racing Point (later rebranded as Aston Martin F1 Team),
                    where he continued to demonstrate consistent performances and achieved his first podium finish with a third-place in the
                    2020 Sakhir Grand Prix.
                    
                    Known for his smooth driving style and ability to handle challenging situations, Stroll has shown moments of brilliance
                    on the track. His partnership with Aston Martin F1 Team (formerly Racing Point) has allowed him to continue honing his
                    skills and gaining valuable experience in the sport.
                    
                    As one of the young talents in Formula 1, Lance Stroll's journey in the sport is still unfolding, and he has the
                    potential to achieve even greater success with continued development and strong performances on the grid</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090213/F1/french-flag_cdqmgq.png" class="img-fluid"
                    alt="Esteban">
                    <p>Esteban Ocon is a French racing driver who has made his mark in Formula 1. Born on September 17, 1996, in Évreux,
                    France, Ocon's racing journey began at a young age, gaining experience in various junior racing categories.
                    
                    Ocon's talent was evident early on, and he joined the Mercedes junior driver program. He made his Formula 1 debut with
                    Manor Racing (later known as Racing Point and now Aston Martin F1 Team) in 2016, impressing with his performances
                    despite the challenges of competing in a backmarker team.
                    
                    In 2017, Ocon moved to Force India (later renamed Racing Point) where he continued to showcase his potential with
                    consistent points finishes and impressive battles on the track. His performances earned him a reputation as a strong
                    midfield driver with excellent racecraft.
                    
                    After a year as a reserve driver for Mercedes in 2019, Esteban Ocon returned to the Formula 1 grid in 2020 with Renault
                    (now rebranded as Alpine F1 Team). His partnership with Alpine has seen steady progress, and he secured his first
                    Formula 1 race victory at the 2021 Hungarian Grand Prix.
                    
                    Known for his calm demeanor and analytical approach, Ocon's strengths lie in his ability to manage race situations and
                    deliver solid performances. As a talented driver with valuable experience, he continues to be an asset to the Alpine F1
                    Team and remains a strong contender for future successes in Formula 1.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/pierre-gasley_knvzkw.jpg" class="img-fluid"
                    alt="Pierre">
                    <p>Pierre Gasly is a French racing driver known for his speed, determination, and remarkable performances in Formula 1.
                    Born on February 7, 1996, in Rouen, France, Gasly's racing career has seen steady progression through various junior
                    categories.
                    
                    Gasly made his Formula 1 debut with Scuderia Toro Rosso (now Scuderia AlphaTauri) in 2017. He quickly demonstrated his
                    potential and adaptability, earning praise for his impressive performances as a rookie driver.
                    
                    In 2019, Gasly was promoted to Red Bull Racing, one of the top teams in Formula 1. While at Red Bull, he faced
                    challenges in adapting to the team and struggled to match the performances of his teammate Max Verstappen. However,
                    despite the setbacks, he showcased glimpses of his speed and talent.
                    
                    In the mid-season of 2019, Gasly returned to Scuderia Toro Rosso (now Scuderia AlphaTauri), where he had a resurgence in
                    form. He achieved his first Formula 1 race victory at the 2020 Italian Grand Prix, securing a memorable and emotional
                    win.

                    Following great success at AlphaTauri Gasly secured a seat at his home nations team of Alpine alongside he captriot Ocon.
                    
                    Known for his determination and unwavering focus, Pierre Gasly continues to impress with his performances, often
                    punching above the team's weight. His partnership with Scuderia AlphaTauri has allowed him to showcase his potential as
                    one of the rising stars of Formula 1.
                    
                    Off the track, Gasly is recognized for his genuine and humble personality, making him a well-liked figure both among
                    fans and within the paddock. With his evident talent and dedication, Pierre Gasly's journey in Formula 1 is closely
                    watched, and he remains a strong contender for future successes in the sport.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090198/F1/china-flag_ipyx7x.png"
                    class="img-fluid" alt="Zhou">
                    <p>Zhou Guanyu, commonly known as Guanyu Zhou, is a talented Chinese racing driver who competes in Formula 2. Born on May
                    30, 1999, in Shanghai, China, Zhou began his motorsport journey in karting and moved up through various junior
                    categories.
                    
                    Zhou's standout performances in the junior categories earned him a place in the Ferrari Driver Academy, which
                    significantly boosted his racing career. He joined the Formula 2 grid in 2019 and quickly showcased his potential as a
                    competitive driver, achieving consistent points finishes and podiums.
                    
                    Apart from his Formula 2 commitments, Zhou has also participated in various testing roles with Formula 1 teams,
                    including Alpine F1 Team (formerly Renault). His association with the Alpine F1 Team allowed him to gain valuable
                    experience and insights into the top tier of motorsport.

                    Following his recent success Zhou managed to get a full race seat at Alfa Romeo partnering alongside an experienced team mate of Bottas.
                    
                    As a Chinese racing driver, Zhou is seen as a promising talent in the sport and has garnered significant attention and
                    support from motorsport enthusiasts in China. His performances in Formula 2 have positioned him as a potential candidate
                    for a future Formula 1 drive, and his progress in the sport continues to be followed closely by fans and stakeholders
                    alike.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090217/F1/finland-flag_qycoez.png"
                    class="img-fluid" alt="Valterri">
                    <p>Valtteri Bottas is a Finnish racing driver who competes in Formula 1. Born on August 28, 1989, in Nastola, Finland,
                    Bottas has a strong background in karting and various junior racing categories.
                    
                    Bottas made his Formula 1 debut in 2013 with Williams Racing, impressing with his performances and scoring points in his
                    rookie season. His talent and potential caught the attention of Mercedes-AMG Petronas Formula One Team, and in 2017, he
                    joined the team as Lewis Hamilton's teammate.
                    
                    As a part of Mercedes, Bottas has been a key contributor to the team's success in the Constructors' Championship. He has
                    secured numerous race wins and consistently challenged for podium finishes, showcasing his speed and racecraft on
                    various circuits around the world.

                    After Bottas lost his seat at Mercedes to a younge George Russell, Valtteri found a another full time seat with the up 
                    and coming Alfa Romeo team.
                    
                    Known for his composed and focused approach, Bottas has played a crucial role in supporting Mercedes' efforts while also
                    being a capable contender for race victories. His performances have helped Mercedes maintain their dominant position in
                    the sport.
                    
                    Off the track, Bottas is recognized for his professionalism and strong work ethic. He has earned the respect of his
                    peers and is well-liked among fans for his engaging personality.
                    
                    As a talented driver with a strong connection to one of the top teams in Formula 1, Valtteri Bottas remains a
                    competitive force on the grid and is always a contender for race wins and championship challenges. His journey in
                    Formula 1 continues to be closely watched by fans and motorsport enthusiasts worldwide.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/daniel-ricciardo_y8qr0p.jpg" class="img-fluid"
                    alt="Daniel">
                    <p>Daniel Ricciardo is an Australian racing driver known for his infectious personality, remarkable overtaking skills, and
                    strong performances in Formula 1. Born on July 1, 1989, in Perth, Australia, Ricciardo's racing journey began in karting
                    before progressing through various junior racing categories.
                    
                    Ricciardo made his Formula 1 debut with Hispania Racing Team in 2011 before moving to Toro Rosso in the same season. He
                    quickly displayed his talent and potential, securing his first points finish in his debut season.
                    
                    In 2014, Daniel Ricciardo joined the top-tier team Red Bull Racing, where he achieved great success. He became a
                    consistent race winner and was often a formidable challenger to the dominant Mercedes cars during his time at Red Bull.
                    
                    Known for his positive attitude, charming smile, and engaging personality, Ricciardo has earned the nickname "The Honey
                    Badger" for his fearless and aggressive driving style. He is widely regarded as one of the best overtakers in the sport,
                    capable of pulling off daring moves on the track.
                    
                    In 2019, Ricciardo made a significant move to Renault F1 Team, aiming to further establish himself as a leading driver.
                    His performances with Renault showcased his tenacity and ability to adapt to different challenges.
                    
                    In 2021, Daniel Ricciardo joined McLaren Racing, reuniting with a competitive team. His partnership with McLaren has
                    been promising, contributing to their rise in the Constructors Championship. However, a poor string of form lost his seat
                    to a younge up and coming Oscar Piastri. So Daniel took a step back and reunited with red bull racing as a test driver.

                    Recently, due to a promising test drive Daniel achieved another full time seat with red Bulls sister team AlphaTauri
                    after Nick unfortunatley lost his seat half way through the season.
                    
                    As one of the most popular drivers on the grid, Daniel Ricciardo's infectious charm and racing prowess have earned him a
                    large and dedicated fan base. He remains a fan-favorite in the world of motorsport.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006620/F1/yuki-tsunoda_mmtu4g.jpg" class="img-fluid"
                    alt="Yuki">
                    <p>Yuki Tsunoda is a Japanese racing driver who made his Formula 1 debut in the 2021 season. Born on May 11, 2000, in
                    Sagamihara, Japan, Tsunoda's racing journey began in karting before progressing through various junior racing
                    categories.
                    
                    Tsunoda's impressive performances in the lower formulas caught the attention of the Red Bull Junior Team, and in 2020,
                    he joined the Formula 2 grid. In his debut season in Formula 2, Tsunoda showcased his talent, securing multiple race
                    wins and finishing third in the championship.
                    
                    In 2021, Yuki Tsunoda was promoted to Scuderia AlphaTauri, making him the first Japanese driver to compete in Formula 1
                    since Kamui Kobayashi in 2014. His Formula 1 debut generated much excitement, and he quickly demonstrated his speed and
                    potential, impressing with his performances on the track.
                    
                    Known for his aggressive and daring driving style, Tsunoda is a highly ambitious driver with a strong will to succeed.
                    However, he also faced some challenges in his debut season, including adapting to the demands of Formula 1 and the
                    complexities of the race car.
                    
                    Off the track, Tsunoda is known for his friendly and approachable personality, making him popular among fans and
                    colleagues alike.
                    
                    As a young and promising talent in Formula 1, Yuki Tsunoda's progress and development in the sport are closely watched
                    by motorsport enthusiasts worldwide. His journey in Formula 1 is expected to be full of excitement and potential, and
                    fans eagerly await to see his continued growth and performances on the grid.</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/alexander-albon_qhkasv.jpg"
                    class="img-fluid" alt="Alex">
                    <p>Alexander Albon, commonly known as Alex Albon, is a British-Thai racing driver who competed in Formula 1. Born on March
                    23, 1996, in London, England, Albon has a diverse background in motorsport, having raced in various junior categories
                    before reaching Formula 1.
                    
                    Albon made his Formula 1 debut with Scuderia Toro Rosso (now Scuderia AlphaTauri) in 2019. His performances in his
                    rookie season caught the attention of Red Bull Racing, and he was promoted to the senior Red Bull team to partner
                    alongside Max Verstappen for the 2019 Belgian Grand Prix.
                    
                    Known for his smooth and consistent driving style, Albon showcased moments of brilliance, securing multiple podium
                    finishes during his time with Red Bull. However, he also faced some challenges, particularly in matching the
                    performances of his teammate.
                    
                    After two seasons with Red Bull, Alex Albon returned to Scuderia AlphaTauri (formerly Toro Rosso) for the 2021 season,
                    where he continued to demonstrate his capabilities and contributed to the team's progress.

                    After losing his seat to Sergio Perez in 2021, and going back to AlphaTauri, Alex managed to get another full time 
                    seat the year after for the Willaims racing team.
                    
                    Off the track, Albon is recognized for his friendly and approachable personality, making him a favorite among fans and
                    fellow drivers.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090227/F1/american-flag_laeynu.png"
                    class="img-fluid" alt="Logan">
                    <p>Logan Hunter Sargeant, an American racing driver born on December 31, 2000, has made significant strides in the world of
                    motorsport, reaching the pinnacle of racing – Formula One. Starting his career in karting in 2008, Sargeant quickly
                    emerged as a talent to watch. He competed in regional and national championships, securing podium finishes in
                    prestigious events like the CIK-FIA World KFJ Championship in 2015, becoming the first American to achieve this feat
                    since 1978.
                    
                    Transitioning to single-seater racing, Sargeant joined Carlin for the F4 British Championship in 2017. With ten podium
                    finishes, including two race wins, he displayed his potential on the circuit, finishing third in the championship. In
                    2018, he moved to the Formula Renault Eurocup and impressed with victories at Circuit Paul Ricard, the Nürburgring, and
                    Circuit de Barcelona-Catalunya, securing fourth place overall and establishing himself as a top rookie.
                    
                    In 2020, Sargeant made his mark in the FIA Formula 3 Championship with Prema Racing, claiming podium finishes and a
                    remarkable victory at Silverstone. His impressive performances caught the attention of Formula One team Williams, and he
                    joined their Driver Academy. Making his Formula 2 debut in 2021, Sargeant continued to shine, achieving pole positions,
                    podium finishes, and two race wins. In 2023, his dreams became reality as he secured a race seat with Williams Racing,
                    fulfilling his ambition to compete in Formula One and representing the United States on the world stage. As Sargeant
                    embarks on his Formula One journey alongside teammate Alexander Albon, fans eagerly anticipate watching his progress and
                    the unfolding of his promising career in the pinnacle of motorsport.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691006621/F1/nico-hulkenberg_aincie.jpg" class="img-fluid"
                    alt="Nico">
                    <p>Nico Hulkenberg, a seasoned German racing driver, is set to make a triumphant return to full-time Formula One racing in
                    2023. Born on August 19, 1987, Hulkenberg has long been recognized for his exceptional talent and consistency on the
                    track. After a brief hiatus from the grid, he has secured a race seat with the Haas F1 Team, rejoining the competitive
                    field to showcase his skills once again.
                    
                    Hulkenberg's Formula One journey began in 2010 when he made his debut with Williams. He quickly impressed with his raw
                    speed and remarkable performances, earning himself a reputation as a rising star in the sport. Throughout his career, he
                    has driven for various teams, including Force India, Sauber, and Renault, consistently delivering strong results and
                    earning respect among his peers.
                    
                    Known for his tenacity and adaptability, Hulkenberg has proven himself as a reliable driver capable of extracting the
                    maximum from his machinery. His ability to handle challenging situations has led to memorable moments, including several
                    pole positions and notable top-ten finishes.
                    
                    Returning to the grid with Haas F1 Team in 2023, Hulkenberg is poised to continue his pursuit of success in Formula One.
                    Paired alongside teammate Kevin Magnussen, he is eager to contribute to the team's progress and make a lasting impact on
                    the sport once again. As fans eagerly await Hulkenberg's comeback, they can expect to witness the determined and
                    competitive spirit that has made him a fan favorite throughout his illustrious career.</p>
            </div>
            <div class="col-3">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1691090233/F1/denmark-flag_hd4tjy.png" class="img-fluid"
                    alt="Kevin">
                    <p>Kevin Magnussen, a talented Danish racing driver born on October 5, 1992, has been a prominent figure in Formula One.
                    Known for his aggressive driving style and no-nonsense approach, Magnussen has left a lasting impression on the sport.
                    
                    Magnussen made his Formula One debut in 2014 with McLaren, showcasing his potential by scoring points on his debut race
                    in Australia. His impressive rookie season earned him admiration as he consistently challenged more experienced drivers.
                    
                    After his stint with McLaren, Magnussen joined the Renault (now Alpine) team in 2016, where he continued to display his
                    speed and determination. In 2017, he achieved his best Formula One result to date, finishing second in the Azerbaijan
                    Grand Prix.
                    
                    In recent years, Magnussen has been a part of the Haas F1 Team, contributing to the team's progress and providing
                    valuable experience to his younger teammates. His gritty performances and ability to extract the maximum from the car
                    have been appreciated by both fans and the paddock.
                    
                    Heading into the 2023 season, Magnussen is set to continue his Formula One journey alongside Nico Hulkenberg at Haas.
                    With his seasoned expertise and relentless drive to succeed, he aims to leave a lasting impact on the team and the sport
                    as he competes with the world's best drivers on the grid. As the Danish driver gears up for the upcoming challenges,
                    fans eagerly anticipate witnessing the competitive spirit and tenacity that define Kevin Magnussen's racing career.</p>
            </div>
        </div>
        <br>
</section>
{% endblock%}