{% extends "base.html" %} {% block content %}
<!--Home Page-->
<div id="main_image">
  <div class="container-fluid g-0">
    <div class="row g-0">
      <img
        src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/f1_s0e42t.jpg"
        class="img-fluid"
        alt="f1-racing"
      />
    </div>
  </div>
</div>
<section>
  <!--About us section-->
  <div class="container text-center">
    <div class="row">
      <div class="about-us col">
        <h2 class="section-heading">
          <span class="section-heading-upper">F1 EXPERIENCE</span>
          <span class="section-heading-lower"
            >FORMULA ONE WORLD CHAMPIONSHIP</span
          >
        </h2>
        <p>
          Experience the thrill and adrenaline-pumping excitement of Formula 1
          like never before! Get ready to witness the world's fastest cars and
          most skilled drivers go head-to-head in a heart-pounding display of
          speed and precision at our highly anticipated F1 events. </p>
          <p>Immerse yourself in the electrifying atmosphere as roaring engines and
        screeching tires create a symphony of sound that will leave you on the
        edge of your seat.</p> <p>Feel the rush as the cars race by, reaching
        mind-boggling speeds that defy imagination. From the thrilling
        overtakes to nail-biting final laps, this is a spectacle you won't
        want to miss.</p> <p>Join us for a day of high-speed action, breathtaking
        views, and unforgettable memories. Secure your ticket now and be a
        part of the F1 experience that will leave you with memories to cherish
        for a lifetime!</p>
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
