{% extends "base.html" %} {% block content%}
<!--Teams Page-->
<div class="container text-center">
    <div class="row">
        <div class="calendar-heading col">
            <h1>FORMULA ONE TEAMS 2023</h1>
        </div>
    </div>
</div>
<section id="teams">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/red-bull_q4kq6n.jpg"
                    class="img-fluid" alt="Red_Bull">
            </div>
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/mercedes_wybafu.jpg"
                    class="img-fluid" alt="Mercedes">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/ferrari_rvjqzg.jpg" class="img-fluid"
                    alt="Ferrari">
            </div>
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/mclaren_tt0kww.jpg"
                    class="img-fluid" alt="Mclaren">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/aston-martin_e70auv.jpg" class="img-fluid"
                    alt="Aston_Martin">
            </div>
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735919/F1/apline_q0fo3b.jpg"
                    class="img-fluid" alt="Alpine">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/alpha-romeo_ychnss.jpg" class="img-fluid"
                    alt="Alpha_Romeo">
            </div>
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/alpha-tauri_vjo3am.jpg"
                    class="img-fluid" alt="Alpha_Tauri">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/williams_w7gh0q.jpg" class="img-fluid"
                    alt="Williams">
            </div>
            <div class="col-6">
                <img src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/haas-23_dnb7gf.jpg"
                    class="img-fluid" alt="Haas">
            </div>
        </div>
        <br>
    </div>
    <br>
</section>
{% endblock%}