{% extends "base.html" %} {% block content%}
<!--Teams Page-->
<div class="container text-center">
  <div class="row">
    <div class="calendar-heading col">
      <h1>FORMULA ONE TEAMS 2023</h1>
    </div>
  </div>
</div>
<section id="teams">
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <h2>Red Bull Racing F1 Team</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/red-bull_q4kq6n.jpg"
          class="img-fluid team-image"
          alt="Red_Bull"
        />
        <p>
          Red Bull F1 Team, is a prominent and successful Formula 1 racing team.
          Established in 2005, the team is headquartered in Milton Keynes,
          United Kingdom. Renowned for its dynamic and innovative approach, Red
          Bull F1 Team has consistently challenged the traditional F1
          powerhouses, achieving multiple victories and championships. With its
          talented lineup of Max Verstappen & Sergio Perez and cutting-edge
          technology, the team remains a formidable contender on the global F1
          stage, embodying the passion, speed, and relentless pursuit of
          excellence that the Red Bull brand is known for.
        </p>
      </div>
      <div class="col-6">
        <h2>Mercedes-AMG Petronas Formula One Team</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/mercedes_wybafu.jpg"
          class="img-fluid team-image"
          alt="Mercedes"
        />
        <p>
          Mercedes-AMG Petronas Formula One Team is a dominant force in the
          world of Formula 1 racing. Founded in 2010 and based in Brackley,
          United Kingdom, the team is a collaboration between Mercedes-Benz and
          AMG, the high-performance division of Mercedes-Benz. With a history
          steeped in motorsport excellence, Mercedes-AMG Petronas has been a
          frontrunner in the modern era of Formula 1, achieving remarkable
          success with numerous driver championships and constructor titles. Led
          by exceptional drivers Lewis Hamilton & George Russell and a dedicated
          team of engineers and strategists, Mercedes-AMG Petronas continues to
          set new standards in the sport, combining cutting-edge technology,
          precision engineering, and a relentless commitment to winning.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <h2>Ferrari Scuderia</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/ferrari_rvjqzg.jpg"
          class="img-fluid team-image"
          alt="Ferrari"
        />
        <p>
          Ferrari is an iconic name in the world of motorsport and luxury
          performance cars. Established in 1950, the Scuderia Ferrari Formula
          One Team has a storied history as the oldest and most successful team
          in Formula 1. With its headquarters in Maranello, Italy, Ferrari has
          been synonymous with passion, heritage, and innovation. Throughout its
          illustrious history, Ferrari has amassed numerous driver championships
          and constructor titles, cementing its status as one of the most
          celebrated teams in the sport. Known for their distinctive red cars
          and the prancing horse emblem, Ferrari's racing machines are always a
          sight to behold on the track. Ferrari's unwavering pursuit of
          excellence and commitment to pushing the boundaries of technology and
          engineering continue to make them a formidable force in Formula 1. The
          team's global fan base, known as the "Tifosi," passionately supports
          their favorite team, adding to the electric atmosphere at every Grand
          Prix. As they continue to compete at the highest level, Ferrari
          remains an enduring symbol of speed, prestige, and Italian racing
          heritage in the world of motorsport.
        </p>
      </div>
      <div class="col-6">
        <h2>McLaren Racing</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/mclaren_tt0kww.jpg"
          class="img-fluid team-image"
          alt="Mclaren"
        />
        <p>
          Mclaren Racing, founded in 1963 by New Zealand racing driver Bruce
          McLaren, is a legendary name in Formula 1 racing. Based in Woking,
          United Kingdom, McLaren has a rich history marked by innovation,
          technical expertise, and a commitment to racing excellence. Over the
          years, McLaren has achieved significant success in Formula 1, securing
          numerous driver championships and constructor titles. The team's
          distinctive orange livery and the McLaren logo have become iconic
          symbols on the race track. Known for nurturing talented drivers and
          employing cutting-edge technology, McLaren continues to be a strong
          competitor in the ever-evolving world of motorsport. With a passion
          for speed and a relentless drive to push boundaries, McLaren Racing
          remains a prominent contender on the Formula 1 grid, captivating fans
          worldwide with thrilling performances and a spirit of unyielding
          determination.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <h2>Aston Martin Cognizant Formula One Team</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/aston-martin_e70auv.jpg"
          class="img-fluid team-image"
          alt="Aston_Martin"
        />
        <p>
          Aston Martin is a renowned British luxury sports car manufacturer and
          a name synonymous with elegance, performance, and sophistication. With
          a history dating back over a century, the brand has become an iconic
          symbol of British automotive craftsmanship. In recent years, Aston
          Martin has expanded its presence beyond producing high-end road cars
          and has ventured into the world of motorsport. The Aston Martin
          Cognizant Formula One Team, formerly known as Racing Point F1 Team,
          represents Aston Martin's return to Formula 1 after a prolonged
          absence. Based in Silverstone, United Kingdom, the team brings
          together a combination of experienced drivers and a skilled technical
          team to compete at the highest level of motorsport. The iconic British
          racing green livery adorns the Aston Martin F1 cars, paying homage to
          the brand's heritage. With a strong legacy and a commitment to pushing
          the boundaries of performance, Aston Martin is determined to make its
          mark in Formula 1, aiming to achieve success on the racetrack and
          further elevate the brand's prestige on the global stage.
        </p>
      </div>
      <div class="col-6">
        <h2>Alpine F1 Team</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735919/F1/apline_q0fo3b.jpg"
          class="img-fluid team-image"
          alt="Alpine"
        />
        <p>
          Alpine is a French automotive brand that traces its roots back to the
          1950s. Originally established as a separate company specializing in
          sports and racing cars, Alpine gained fame through its success in
          various motorsport events, particularly in rallying. In recent years,
          Alpine has become more closely associated with the Renault Group and
          is now the performance division of Renault, with a focus on producing
          high-performance sports cars. The brand's commitment to driving
          pleasure, innovation, and design excellence has led to the development
          of exciting road cars that embody the spirit of Alpine's racing
          heritage. In Formula 1, the team competes as "Alpine F1 Team" and
          represents the brand in the prestigious motorsport championship. The
          team, based in Enstone, United Kingdom, aims to continue Alpine's
          legacy of success in motorsport by competing at the highest level and
          showcasing the brand's passion for racing and technological expertise.
          As Alpine continues to evolve, it remains deeply connected to its
          French heritage, celebrating the country's rich automotive history
          while embracing the challenges and opportunities of the modern
          automotive industry and motorsport arena.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <h2>Alfa Romeo Racing ORLEN</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/alpha-romeo_ychnss.jpg"
          class="img-fluid team-image"
          alt="Alfa_Romeo"
        />
        <p>
          Alfa Romeo, an iconic Italian automotive brand with a history dating
          back to 1910, has a rich heritage in both road cars and motorsport.
          Known for its elegant design and passionate driving experience, Alfa
          Romeo has a loyal following of enthusiasts worldwide. In Formula 1,
          the team competes as "Alfa Romeo Racing ORLEN." Based in Hinwil,
          Switzerland, the team continues Alfa Romeo's long-standing involvement
          in motorsport and Formula 1. The distinctive red and white livery pays
          homage to the brand's racing legacy. Alfa Romeo Racing ORLEN combines
          experienced drivers and a dedicated technical team to compete in the
          fiercely competitive world of Formula 1. The team aims to showcase
          Alfa Romeo's engineering prowess, speed, and commitment to excellence
          on the global stage. Beyond the racetrack, Alfa Romeo continues to
          produce road cars that embody the brand's Italian flair and passion
          for driving. With a mix of performance-oriented models and stylish
          luxury cars, Alfa Romeo remains an enduring symbol of automotive
          excellence, captivating drivers with its distinctive design and
          exhilarating performance.
        </p>
      </div>
      <div class="col-6">
        <h2>Scuderia AlphaTauri</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/alpha-tauri_vjo3am.jpg"
          class="img-fluid team-image"
          alt="Alpha_Tauri"
        />
        <p>
          AlphaTauri, officially known as Scuderia AlphaTauri, is an Italian
          Formula 1 racing team and a sister team to Red Bull Racing. The team
          made its debut in Formula 1 in 2006 under the name Toro Rosso (which
          means "Red Bull" in Italian) before being rebranded as AlphaTauri in
          2020. The team is based in Faenza, Italy, and is well-known for
          providing a platform for young talented drivers to showcase their
          skills in Formula 1. AlphaTauri is owned by Red Bull and benefits from
          the technical expertise and resources of the parent company. The
          team's name, AlphaTauri, comes from a fashion brand owned by Red
          Bull's founder, Dietrich Mateschitz. The name aims to bring a sense of
          style and innovation to the racing world, representing the team's
          unique blend of fashion and high-performance racing. AlphaTauri has
          experienced moments of success and has achieved impressive results on
          the Formula 1 grid, scoring race wins and podium finishes. With a
          strong focus on nurturing young talent and a commitment to pushing the
          boundaries of technology, AlphaTauri continues to be a competitive
          force in the world of motorsport, adding to the excitement of Formula
          1 racing.
        </p>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-6">
        <h2>Williams Racing</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/williams_w7gh0q.jpg"
          class="img-fluid team-image"
          alt="Williams"
        />
        <p>
          Williams Racing, founded by Sir Frank Williams and Sir Patrick Head in
          1977, is a British Formula 1 team with a long and storied history in
          the sport. The team has been one of the most successful and iconic
          names in Formula 1, known for its passion, dedication, and engineering
          excellence. Based in Grove, Oxfordshire, United Kingdom, Williams has
          been a formidable force on the Formula 1 grid, winning multiple driver
          championships and constructor titles over the years. The team's
          distinct blue and white livery, adorned with the iconic Williams logo,
          has become synonymous with the world of motorsport. Williams has been
          instrumental in nurturing the careers of numerous talented drivers and
          has played a crucial role in shaping the sport's history. The team's
          focus on technical innovation and attention to detail has been at the
          heart of its successes. In recent years, Williams faced some
          challenges in maintaining the same competitive edge as before.
          However, its legacy in Formula 1 remains strong, and the team's
          determination to return to the forefront of the grid remains
          undeterred. As a privateer team, Williams Racing continues to embody
          the spirit of true racers, with a commitment to delivering thrilling
          performances and striving for success in the ever-evolving world of
          Formula 1. The team's enduring presence and dedicated fan base make it
          a beloved and respected institution in the world of motorsport.
        </p>
      </div>
      <div class="col-6">
        <h2>Haas F1 Team</h2>
        <img
          src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/haas-23_dnb7gf.jpg"
          class="img-fluid team-image"
          alt="Haas"
        />
        <p>
          Haas F1 Team is an American Formula 1 racing team founded by
          industrialist Gene Haas in 2014. The team made its debut in Formula 1
          in 2016 and is based in Kannapolis, North Carolina, USA. Haas F1 Team
          is unique in that it operates on a model known as "customer team,"
          meaning it sources a significant portion of its car components,
          including the chassis and power unit, from other established teams.
          This approach allows Haas to enter the sport with a reduced financial
          burden while focusing on its own development and engineering areas.
          The team's livery features a combination of gray, black, and red
          colors, representing its American identity and strong association with
          Haas Automation, one of the largest CNC machine tool builders in the
          world, also founded by Gene Haas. Haas F1 Team has experienced both
          highs and lows since its debut, achieving competitive performances on
          occasion. With a dedicated roster of drivers and a passion for
          motorsport, the team continues to strive for success on the Formula 1
          grid, representing American motorsport enthusiasts on the global
          stage.
        </p>
      </div>
    </div>
    <br />
  </div>
  <br />
</section>
{% endblock%}
