{% extends "base.html" %} {% block content%}
<!--Teams Page-->
<div class="container text-center">
  <div class="row">
    <div class="calendar-heading col">
      <h1>FORMULA ONE TEAMS 2023</h1>
    </div>
  </div>
</div>
<section id="teams">
  <div class="container-fluid">
    <div class="row team-row">
      <div class="col-12 col-md-6">
        <h2 class="text-center">Red Bull Racing F1 Team</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/red-bull_q4kq6n.jpg"
              class="img-fluid team-image"
              alt="Red_Bull"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>105</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>254</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>91</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>92</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>6849</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>6</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center">Mercedes-AMG Petronas Formula One Team</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/mercedes_wybafu.jpg"
              class="img-fluid team-image"
              alt="Mercedes"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>125</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>286</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>138</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>102</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>7167</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>9</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row team-row">
      <div class="col-12 col-md-6">
        <h2 class="text-center">Ferrari Scuderia</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/ferrari_rvjqzg.jpg"
              class="img-fluid team-image"
              alt="Ferrari"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>243</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>814</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>246</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>261</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>10303</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>15</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center">McLaren Racing</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/mclaren_tt0kww.jpg"
              class="img-fluid team-image"
              alt="Mclaren"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>183</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>496</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>156</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>162</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>6398</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>12</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row team-row">
      <div class="col-12 col-md-6">
        <h2 class="text-center">Aston Martin Cognizant Formula One Team</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/aston-martin_e70auv.jpg"
              class="img-fluid team-image"
              alt="Aston_Martin"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>336</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>0</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center">Alpine F1 Team</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735919/F1/apline_q0fo3b.jpg"
              class="img-fluid team-image"
              alt="Alpine"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>4</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>385</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row team-row">
      <div class="col-12 col-md-6">
        <h2 class="text-center">Alfa Romeo Racing ORLEN</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735704/F1/alpha-romeo_ychnss.jpg"
              class="img-fluid team-image"
              alt="Alfa_Romeo"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>28</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>13</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>16</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>354</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>2</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center">Scuderia AlphaTauri</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/alpha-tauri_vjo3am.jpg"
              class="img-fluid team-image"
              alt="Alpha_Tauri"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>288</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br />
    <div class="row team-row">
      <div class="col-12 col-md-6">
        <h2 class="text-center">Williams Racing</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/williams_w7gh0q.jpg"
              class="img-fluid team-image"
              alt="Williams"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>114</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>312</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>128</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>133</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>3607</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>7</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <h2 class="text-center">Haas F1 Team</h2>
        <div
          class="team-container d-flex justify-content-center align-items-center"
        >
          <a href="javascript:void(0);" class="team-card-clickable">
            <img
              src="https://res.cloudinary.com/dfay05cnf/image/upload/v1690735705/F1/haas-23_dnb7gf.jpg"
              class="img-fluid team-image"
              alt="Haas"
            />
          </a>
          <table class="table table-striped team-description">
            <tr>
              <th>Statistic</th>
              <th>Value</th>
            </tr>
            <tr>
              <td>Victories</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Podiums</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Pole pos.</td>
              <td>0</td>
            </tr>
            <tr>
              <td>Fastest lap</td>
              <td>2</td>
            </tr>
            <tr>
              <td>Points</td>
              <td>243</td>
            </tr>
            <tr>
              <td>WDC</td>
              <td>0</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <br />
  </div>
  <br />
</section>
<script>
  // Select all clickable team cards
  const teamCardClickables = document.querySelectorAll(".team-card-clickable");

  // Add a click event handler to each clickable race card
  teamCardClickables.forEach(function (teamCardClickable) {
    console.log("Adding event listener to team card.");
    teamCardClickable.addEventListener("click", function () {
      console.log("Team card clicked.");
      // Debugging: Log the entire race card element
      console.log(this);
      // Attempt to select the .race-details element
      const teamDetails = this.nextElementSibling;
      if (teamDetails) {
        teamDetails.style.display =
          teamDetails.style.display === "block" ? "none" : "block";
        console.log("Success: team details toggled.");
      } else {
        console.log("Team details element not found.");
      }
    });
  });
</script>
{% endblock%}
